<h3><a href="{% url 'gallery' %}">GALLERY</a></h3>

<div class="menu">
    <a href="">Tomasz Steckiewicz</a>
    <a href="">Portfolio</a>
    <a href="">O mnie</a>
    <a href="">Kontakt</a>
</div>

<div class="albums">
    {% for album in albums %}
        <div class="album">
            <a href="{% url 'gallery' %}?album={{album.name}}">
                {{ album.name }}
            </a>
        </div>
    {% endfor %}

    <div class="photos">
        {% for photo in photos %}
            <div class="photo">
                <a href="">
                    <img width="280px" height="280px" src={{ photo.image.url }} alt={{ photo.name }}>
                </a>
            </div>
        {% endfor %}
</div>